<p>
  <strong>Patient ID:</strong>
  <%= @patient.pID %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @patient.last_name %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @patient.first_name %>
</p>

<p>
  <strong>Birth Date:</strong>
  <%= @patient.birth_date %>
</p>

<%= link_to 'Back', patients_path %>
